// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/prefix';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.nhsuk-file-upload {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    color: #0b0c0c;
    max-width: 100%;
    margin-left: -5px;
    padding: 5px;
  }
  .nhsuk-file-upload:focus {
    outline: 3px solid #ffdd00;
    box-shadow: inset 0 0 0 4px #0b0c0c;
  }