{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is {% if (data['authoriserFirstName']) and (data['authoriserLastName']) %}{{ data['authoriserFirstName'] }} {{ data['authoriserLastName'] }}{% else %}John Smith{% endif %}’s job title? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

 

{% block content %}

{% set authoriserJobTitle %}
  {% if (data['authoriserFirstName']) and (data['authoriserLastName']) %}
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Line manager details</span>
    <span class="nhsuk-u-visually-hidden"> - </span>
    What is {{ data['authoriserFirstName'] }} {{ data['authoriserLastName'] }}’s job title?
  </h1>
  {% else %}
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Line manager details</span>
    <span class="nhsuk-u-visually-hidden"> - </span>
    What is John Smith’s job title?
  </h1>
  {% endif %}
{% endset -%}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v2/authoriser-job-title" method="post" novalidate>
      
        {{ input({
          label: {
            "html": authoriserJobTitle
          },
          "id": "authoriserJobTitle",
          "name": "authoriserJobTitle",
          "type": "text",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
