{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is {% if (data['employeeFirstName']) and (data['employeeLastName']) %}{{ data['employeeFirstName'] }} {{ data['employeeLastName'] }}{% else %}Jane Doe{% endif %}’s current cost centre? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

{% set employeeCostCentre %}
  {% if (data['employeeFirstName']) and (data['employeeLastName']) %}
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Employee details</span>
      <span class="nhsuk-u-visually-hidden"> - </span>
      What is {{ data['employeeFirstName'] }} {{ data['employeeLastName'] }}’s current cost centre?
    </h1>
    <div class="nhsuk-hint">
      You can find the cost centre number in ESR. For example, 91412S5FA
    </div>
  {% else %}
  <h1 class="nhsuk-heading-l">
    <span class="nhsuk-caption-l nhsuk-caption--bottom">Employee details</span>
    <span class="nhsuk-u-visually-hidden"> - </span>
    What is Jane Doe’s current cost centre?
  </h1>
  <div class="nhsuk-hint">
    You can find the cost centre number in ESR. For example, 91412S5FA
  </div>
  {% endif %}
{% endset -%}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v2/employee-cost-centre" method="post" novalidate>
      
        {{ input({
          label: {
            "html": employeeCostCentre
          },
          "id": "employeeCostCentre",
          "name": "employeeCostCentre",
          "type": "text",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
