{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is your name? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

 

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v2/employee-name" method="post" novalidate>

        {% call fieldset({
          legend: {
            "legend{}.html": true,
            "html": '
            <h1 class="nhsuk-heading-l">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Employee details</span>
              <span class="nhsuk-u-visually-hidden"> - </span>
              What is the employee’s name?
            </h1>
            <div class="nhsuk-hint">
              Enter the employee’s name as shown on official documents. For example, on their passport or in the Electronic Staff Record (ESR).
            </div>
            '
          }
        }) %}



          {{ select({
            "id": "employeeTitle",
            "name": "employeeTitle",
            "label": {
              "text": "Title"
            },
            "items": [
            {
              "selected": true,
              "disabled": true,
              "value": "",
              "text": "Choose title"
            },
            {
                "value": "Mr",
                "text": "Mr"
            },
            {
                "value": "Mrs",
                "text": "Mrs"
            },
            {
                "value": "Miss",
                "text": "Miss"
            },
            {
                "value": "Ms",
                "text": "Ms"
            },
            {
                "value": "Mx",
                "text": "Mx"
            },
            {
                "value": "Dr",
                "text": "Dr"
            },
            {
                "value": "Prof",
                "text": "Prof"
            },
            {
                "value": "Baron",
                "text": "Baron"
            },
            {
                "value": "Baroness",
                "text": "Baroness"
            },
            {
                "value": "Brother",
                "text": "Brother"
            },
            {
                "value": "Canon",
                "text": "Canon"
            },
            {
                "value": "Dame",
                "text": "Dame"
            },
            {
                "value": "Father",
                "text": "Father"
            },
            {
                "value": "Imam",
                "text": "Imam"
            },
            {
                "value": "Lady",
                "text": "Lady"
            },
            {
                "value": "Lord",
                "text": "Lord"
            },
            {
                "value": "Major",
                "text": "Major"
            },
            {
                "value": "Nurse",
                "text": "Nurse"
            },
            {
                "value": "Rabbi",
                "text": "Rabbi"
            },
            {
                "value": "Reverend",
                "text": "Reverend"
            },
            {
                "value": "Right reverend monsigneur",
                "text": "Right reverend monsigneur"
            },
            {
                "value": "Mrs",
                "text": "Mrs"
            },
            {
                "value": "Sir",
                "text": "Sir"
            },
            {
                "value": "Sister",
                "text": "Sister"
            }
            ]
          }) }}
        
          {{ input({
            label: {
              "html": 'First name'
            },
            "id": "employeeFirstName",
            "name": "employeeFirstName",
            spellcheck: false,
            "classes": "nhsuk-input--width-20"
          }) }}
        
          {{ input({
            label: {
              "html": 'Last name'
            },
            "id": "employeeLastName",
            "name": "employeeLastName",
            spellcheck: false,
            "classes": "nhsuk-input--width-20"
          }) }}
        
        {% endcall %}
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
