{% extends 'layout.html' %}

{% block pageTitle %}
Forgot your password? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="v2/forgot-password" method="post" novalidate>

        {% call fieldset({
          legend: {
            "text": "Forgot your password?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        }) %}

        <p>We’ll send you an email to create a new password.</p>
        
          {{ input({
            label: {
              "html": 'Email address'
            },
            "hint": {
              "text": "Enter the email address associated with your NHS Recruitment Services account"
              },
            "id": "forgot-password",
            "name": "forgot-password",
            "type": "text",
            "spellcheck": "false",
            "classes": "nhsuk-input--width-20"
          }) }}
                
        {% endcall %}

      {{ button({
        "text": "Send email"
      }) }}

      </form>

    </div>

  </div>
{% endblock %}
