{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Explain what change you would like to make - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

 

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v2/other-change-information" method="post" novalidate>

        {% call fieldset({
          legend: {
            "legend{}.html": true,
            "html": '
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
              <span class="nhsuk-u-visually-hidden"> - </span>
              Explain what change you would like to make
            </h1>
            <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
              Do not include personal or financial information, for example, National Insurance number or credit card details.
            </div>
            '
          }
          }) %}
        {{ textarea({
          "name": "other-change-information",
          "id": "other-change-information"
        }) }}
        {% endcall %}
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
