#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: white;
    border: 5px solid black;
    padding: nhsuk-spacing(4);
}
dialog:-internal-dialog-in-top-layer::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
#js-modal-dialog{
    padding: 0;
    border:none;
}
.modal-dialog__inner {
    background: white;
    border: 5px solid black;
    padding: nhsuk-spacing(4);
}
.modal-dialog__inner__block{
    margin-top: 20px;
}