{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You have been signed out - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        You have been signed out
      </h1>

      <p>
        You have been signed out and any information you have not saved has been deleted because you did not do anything for 20 minutes. This is to protect your information.
      </p>

      <p>
          <a class="nhsuk-button" href="../start-page">Sign back in</a>
      </p>


    </div>
</div>

{% endblock %}