{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
You've been away from your device for 30 minutes - Submit a request to NHS Recruitment Services - NHSBSA 
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        You've been away from your device for 30 minutes
      </h1>

      <p>
          For security reasons, we can't save what you have done so far.
      </p>

      <p>
           You will need to start again.
      </p>

      <p>
          <a class="nhsuk-button" href="../start-page">Start your application again</a>
      </p>


    </div>
</div>

{% endblock %}