{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is the new pay-step point? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

 

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v1/new-step-point" method="post" novalidate>
      
        {{ input({
          label: {
            "html": '
            <h1 class="nhsuk-heading-l">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
              <span class="nhsuk-u-visually-hidden"> - </span>
              What is the new pay-step point?
            </h1>
            <div class="nhsuk-hint">
              This should be 1 to 9. Make sure this matches the salary amount.
            </div>
            '
          },
          "id": "newStepPoint",
          "name": "newStepPoint",
          "type": "text",
          "classes": "nhsuk-input--width-2"
        }) }}

        {{ details({
          summaryText: "Where can I find each pay-step point?",
          html: "
          <p>You can find pay-step points for each NHS pay band on the <a href=\"https://faq-hrss.nhsbsa.nhs.uk/knowledgebase/article/KA-23570/en-us\" target=\"_blank\">NHSBSA Knowledge Base (opens in a new tab)</a>.</p>
          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>  

  </div>
{% endblock %}
