{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What percentage or amount of the salary is the allowance? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v1/salary-percentage-amount" method="post" novalidate>

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
            What amount of the salary is the allowance, in pounds?
          </h1>
          </legend>
          <div class="nhsuk-form-group inlineGroup">
            <label class="nhsuk-label" for="amount">
              Amount
            </label>
            <div class="nhsuk-input__wrapper">
              <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="amount" name="amount" type="text" spellcheck="false">
            </div>
          </div>
          <div class="nhsuk-form-group inlineGroup">
            <label class="nhsuk-label" for="salary-percentage-frequency">
              Per
            </label>
            <select class="nhsuk-select" id="salary-percentage-frequency" name="salary-percentage-frequency">
              <option value="" selected disabled>Choose frequency</option>
              <option value="month">Month</option>
              <option value="year">Year</option>
            </select>
          </div>
        </fieldset>

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
