{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
What percentage or amount of the salary is the allowance? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v1/salary-percentage-amount" method="post" novalidate>

      {% call fieldset({
        legend: {
          "html": '
          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
            What percentage or amount of the salary is the allowance?
          </h1>
          '
        }
      }) %}
      
        {{ input({
          label: {
            "html": 'Amount'
          },
          "id": "amount",
          "name": "amount",
          spellcheck: false,
          "classes": "nhsuk-input--width-5"
        }) }}
      
        {{ select({
          "id": "unit",
          "name": "unit",
          "label": {
            "text": "Unit"
          },
          "items": [
            {
              "selected": true,
              "disabled": true,
              "value": "",
              "text": "Choose unit"
            },
            {
              "value": "%",
              "text": "%"
            },
            {
              "value": "£",
              "text": "£"
            }
          ]
        }) }}

        {{ select({
          "id": "salary-percentage-frequency",
          "name": "salary-percentage-frequency",
          "label": {
            "text": "Frequency"
          },
          "items": [
            {
              "selected": true,
              "disabled": true,
              "value": "",
              "text": "Choose frequency"
            },
            {
              "value": "month",
              "text": "Month"
            },
            {
              "value": "year",
              "text": "Year"
            }
          ]
        }) }}
      
      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

      </form>

    </div>  

  </div>
{% endblock %}
