{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Is the change a temporary arrangement? - Submit a request to NHS Recruitment Services - NHSBSA
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="v3/temporary-change" method="post" novalidate>

        {% call fieldset({
          legend: {
            "legend{}.html": true,
            "html": '
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Change details</span>
              <span class="nhsuk-u-visually-hidden"> - </span>
              Is the change a temporary arrangement?
            </h1>
            '
          }
          }) %}
          {{ radios({
            "idPrefix": "temporary-change",
            "name": "temporary-change",
            "classes": "nhsuk-radios--inline",
            "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}
        {% endcall %}
  
        {{ button({
          "text": "Continue"
        }) }}
  
      </form>

    </div>  

  </div>
{% endblock %}
